.home-center-form {
  background: url("../../../Assets/images/contact-us-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  padding: 6.25rem;
}
.form-card-1 {
  border-radius: 7.5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-form-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.75rem;
  background-color: var(--primary-color);
  border-bottom-left-radius: 7.5px;
  border-top-left-radius: 7.5px;
}
.contact-form-text h1 {
  font-size: 2.125rem;
  line-height: 3rem;
  position: relative;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin-bottom: 1.5rem;
}
.contact-form-text h1 em {
  font-style: normal;
  color: var(--secondary-color);
  padding-left: 6.25rem;
  position: relative;
}
.contact-form-text h1 em::before {
  width: 5rem;
  height: 2px;
  background-color: var(--secondary-color);
  content: "";
  position: absolute;
  left: 0;
  top: 1.375rem;
}
.small-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.9375rem;
  margin-bottom: 0.9375rem;
}
.contact-form-text form {
  display: flex;
  flex-direction: column;
}
.contact-form-text form input {
  height: 2.75rem;
  border-radius: 7.5px;
  border: 1px solid #eeeeee;
  font-size: 0.875rem;
  padding: 0px 0.9375rem;
}
.contact-form-text form textarea {
  height: 6.25rem;
  border-radius: 7.5px;
  border: 1px solid #eeeeee;
  font-size: 0.875rem;
  padding: 0.625rem 0.9375rem;
  margin-bottom: 0.9375rem;
}
@media screen and (max-width: 1150px) {
  .home-center-form {
    padding: 3.125rem;
  }
}
@media screen and (max-width: 990px) {
  .contact-form-text form {
    width: 100%;
  }
  form .small-card {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 880px) {
  .form-card-1 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .contact-form-text {
    border-radius: 7.5px;
  }
  .map-img iframe{
    height: 39.6875rem;
    margin-top: 1.25rem;
    border-radius: 7.5px;
  }
}
@media screen and (max-width: 580px) {
  .contact-form-text h1 {
    font-size: 1.5rem;
    line-height: 1.3;
  }
  .map-img iframe{
    height: 36.25rem;
  }
}
@media screen and (max-width: 540px) {
  .home-center-form {
    padding: 3.125rem 1.25rem;
  }
}
@media screen and (max-width: 500px) {
  .contact-form-text {
    padding: 3.125rem 2.5rem;
  }
  .map-img iframe{
    height: 31.25rem;
  }
}
@media screen and (max-width: 400px) {
  .contact-form-text {
    padding: 1.875rem;
  }
}
@media screen and (max-width: 400px) {
  .contact-form-text h1 {
    font-size: 1.25rem;
  }
  .contact-form-text h1 em {
    padding-left: 5.625rem;
  }
  .contact-form-text h1 em::before{
    top: 0.8125rem;
  }
}
